/* ----------------------------------------------------------------
	Custom CSS App Salon Nov.2024
-----------------------------------------------------------------*/

.bg-login {
    background: #CFB7D6;
}

.bs-login {
    border-radius: 0;
    border-bottom: 2px solid #73398B;
}

